// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// DAFTAR PRODUK
#daftar-produk .row{
    margin-top: 2% !important;
    margin-bottom: 2%;
}
#daftar-produk .row .search{
    background: white;
}
#daftar-produk .col-2 .card h5{
    font-weight: 600;
}
#daftar-produk .col-10 h1{
    font-weight: 600;
    color: #D93081;
}
#daftar-produk .col-10 .card h5{
    color: #D93081;
    text-align: center;
    font-weight: 600;
    font-size: large;
}
#daftar-produk .col-10 .card p{
    text-align: center;
    font-weight: 600;
}
#daftar-produk .col-10 .card .center{
    text-align: center;
}
#daftar-produk .col-10 .card a{
    border-color: #D93081;
    background: #D93081;
    color: white;
    text-align: center;
    font-weight: 500;
}

// DETAIL PRODUK
#detail-produk .row{
    margin-top: 2% !important;
    margin-bottom: 2%;
}
#detail-produk .row .col .vertical-center {
    position: absolute;
    // top: 50%;
    left: 50%;
    // -ms-transform: translateY(-50%);
    // transform: translateY(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
#detail-produk .col-4 .container {
    padding: 16px;
    margin: 16px 0;
    background-color: transparent;
    border-color: none;
}
#detail-produk .container::after {
    content: "";
    clear: both;
    display: table;
}
#detail-produk h2, 
#detail-produk .container .text {
    font-size: 20px;
    margin-right: 15px;
} 
#detail-produk .col-4 .image {
    float: left;
    margin-right: 10px;
    border-radius: 50%;
    width:60px;
}
#detail-produk .col-4 .text, 
#detail-produk .col-4 .back, 
#detail-produk .col-4 .info h3{
    font-size: 18px;
    font-weight: 600;
    margin-right: 15px;
}
#detail-produk .col-4 .title, 
#detail-produk .col-4 h1, 
#detail-produk .col-4 .back{
    color: #D93081;
}
#detail-produk .col-4 h2, 
#detail-produk .col-4 h1{
    font-weight: 600;
    font-size: 24px;
}
#detail-produk .col-4 .info{
    margin-top: 20px;
}
#detail-produk .col-4 p, 
#detail-produk .info p{
    font-size: 16px;
}
#detail-produk .col-4 .btn-primary{
    margin-top: 20px;
    background-color: #D93081;
    color: #fff;
    width: 100%;
    border-color: #D93081;
    border-radius: 20px;
}
#detail-produk .col-4 .btn-primary:hover{
    background-color: #fff;
    color: #D93081;
    border-color: #D93081;
}
#detail-produk .col-4 .testi{
    color: #D93081;
    font-size: 16px;
    font-weight: 600;
}
#detail-produk .col-4 .right{
    text-align: end;
}

@media (max-width: 500px) {
    #detail-produk .container {
        text-align: center;
    }
    #detail-produk .col-4 .image {
      margin: auto;
      float: none;
      display: block;
    }
}

#basket {
    position: absolute;
    z-index: 100;
    top:0;
    right: 0;
    background-color: burlywood;
    width: 20px;
}

// page Home start
#carouselExampleInterval {
    margin-top: -4%;
}

#bestseller {
    margin-top: 5%;
    text-align: center;
    color: #D93081 ;
}

#home-best-seller .card .btn-primary{
    border-color: #D93081;
    background: #D93081;
    color: white;
    text-align: center;
    font-weight: 500;
}
#home-best-seller .card .btn-primary:hover{
    background-color: #fff;
    color: #D93081;
    border-color: #D93081;
}

.center{
    text-align: center;
}

#home-view-all .btn-primary{
    border-color: #D93081;
    background: #D93081;
    color: white;
    text-align: center;
    font-weight: 500;
    width: 150px;
    margin-top: 32px;
    margin-bottom: 32px;
}

#home-view-all .btn-primary:hover{
    background-color: #fff;
    color: #D93081;
    border-color: #D93081;
}

#btn-login-regis .btn-primary {
    border-color: #D93081;
    background: #D93081;
    color: white;
    text-align: center;
    font-weight: 500;
    width: 100px;
}

#btn-login-regis .btn-primary:hover {
    background-color: #fff;
    color: #D93081;
    border-color: #D93081;
}

//footer 
#footer {
    background: #7D34E3;
    padding: 0 0 30px 0;
    color:black;
    font-size: 14px;
  }
  
  #footer .footer-top {
    background: #fff;
    border-top: 1px solid #FA2F86;
    border-bottom: 1px solid #FA2F86;
    padding: 60px 0 30px 0;
  }
  
  #footer .footer-top .footer-info {
    margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-info h3 {
    font-size: 24px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 300;
    font-family: "Poppins", sans-serif;
  }
  
  #footer .footer-top .footer-info p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Playfair Display", serif;
    color: #0c0b09;
  }
  
  #footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #FA2F86;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  
  #footer .footer-top .social-links a:hover {
    background: #FA2F86;
    color: #0c0b09;
    text-decoration: none;
  }
  
  #footer .footer-top h4 {
    font-size: 16px;
    font-weight: 600;
    color: #0c0b09;
    position: relative;
    padding-bottom: 12px;
  }
  
  #footer .footer-top .footer-links {
    margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #FA2F86;
    font-size: 18px;
    line-height: 1;
  }
  
  #footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
  }
  
  #footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
  }
  
  #footer .footer-top .footer-links ul a {
    color: #0c0b09;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
  }
  
  #footer .footer-top .footer-links ul a:hover {
    color: #FA2F86;
  }
  
  #footer .footer-top .footer-newsletter form {
    margin-top: 30px;
    background: #28251f;
    padding: 6px 10px;
    position: relative;
    border-radius: 50px;
    border: 1px solid #454035;
  }