// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

#basket {
    position: absolute;
    z-index: 100;
    top:0;
    right: 0;
    background-color: burlywood;
    width: 300px;
}
