// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//background color
.background-color{
    background: #FFF4FD;
}

#btn-logout .dropdown-item {
    background-color: #fff;
    color: #D93081;
    width: 100%;
    border-color: #D93081;
    // border-radius: 20px;
}

#btn-logout .dropdown-item:hover {
    background-color: #D93081;
    color: #fff;
    border-color: #D93081;
}

#navbar-icon a{
    color:#D93081;
}

// LOGIN 
#login .image{
    margin-top: -6%;
}

#login .center-left {
    position: absolute;
    top: 250px;
    left: 100px;
}

#login .center-left .center{
    left: 50px
}

#login .form-group {
    width: 400px;
    margin-top: 8px;
}

#login #button-login .btn-primary{
    margin-top: 4px;
    background-color: #D93081;
    color: #fff;
    width: 100%;
    border-color: #D93081;
    border-radius: 20px;
}

#login #button-login .btn-primary:hover{
    background-color: #fff;
    color: #D93081;
    border-color: #D93081;
}

#login #button-link {
    color:#D93081;
    margin-left: 125px;
}

//NAVBAR LOGIN
#app #button .btn-primary {
    border-color: #D93081;
    background: #D93081;
    color: white;
    text-align: center;
    font-weight: 500;
    width: 100px;
}

#app #button .btn-primary:hover{
    background-color: #fff;
    color: #D93081;
    border-color: #D93081;
}

// ADMIN CREATE PRODUCT
#create-produk{
    margin-bottom: 2%;
}
#create-produk{
    .card{
        padding: 30px;
    }
    h1{
        font-weight: 600;
        color: #D93081;
    }
    .detail{
        padding-top: 10px;
    }
    .detail label,
    .detail h5{
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
    }
    .detail .card .btn-danger{
        margin-top: 20px;
    }
    .detail input{
        width: 100%;
    }
    .detail #description{
        height: 100px;
    } 
    .detail button{
        background-color: #D93081;
        color: #fff;
        border-color: #D93081;
    }
    .detail button:hover{
        background-color: #fff;
        color: #D93081;
        border-color: #D93081;
    }
    .full .btn-primary{
        width: 100%;
    }
}

//BASKET 
#btn-basket {
    .btn-primary{
        background-color: #D93081;
        color: #fff;
        width: 10%;
        border-color: #D93081;
        border-radius: 20px;
    }

    .btn-primary:hover{
        background-color: #fff;
        color: #D93081;
        border-color: #D93081;
    }

    .btn-secondary{
        background-color: #fff;
        color: #D93081;
        width: 10%;
        border-color: #D93081;
        border-radius: 20px;
    }

    .btn-secondary:hover{
        background-color: #D93081;
        color: #fff;
        border-color: #D93081;
    }
}    

//REGISTER
#button-register{
    .btn-primary{
    margin-top: 4px;
    background-color: #D93081;
    color: #fff;
    width: 25%;
    border-color: #D93081;
    border-radius: 20px;
    }

    .btn-primary:hover{
    background-color: #fff;
    color: #D93081;
    border-color: #D93081;
    }
}    

#btn-link-register {
    margin-left: 33%;
    margin-top: 1%;
}

//FORGOT PASSWORD
#btn-reset-pass {    
    .btn-primary{
    margin-top: 4px;
    background-color: #D93081;
    color: #fff;
    width: 50%;
    border-color: #D93081;
    border-radius: 20px;
    }

    .btn-primary:hover{
    background-color: #fff;
    color: #D93081;
    border-color: #D93081;
    }    
}

// DAFTAR PRODUK
#daftar-produk .row{
    margin-top: 2%;
    margin-bottom: 2%;
}
#daftar-produk .row .search{
    background: white;
}
#daftar-produk .col-2 .card h5{
    font-weight: 600;
}
#daftar-produk .col-10 h1{
    font-weight: 600;
    color: #D93081;
}
#daftar-produk .col-10 .card h5{
    color: #D93081;
    text-align: center;
    font-weight: 600;
    font-size: large;
}
#daftar-produk .col-10 .card p{
    text-align: center;
    font-weight: 600;
}
#daftar-produk .col-10 .card .center{
    text-align: center;
}
#daftar-produk .col-10 .card a{
    border-color: #D93081;
    background: #D93081;
    color: white;
    text-align: center;
    font-weight: 500;
}

#daftar-produk #search-addon a button {
    font-size: 18px;
    display: inline-block;
    background: #D93081;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

#daftar-produk #search-addon a button:hover {
    background: #D93081;
    color: #0c0b09;
    text-decoration: none;
}

// DETAIL PRODUK
#detail-produk .row{
    margin-top: 2% !important;
    margin-bottom: 2%;
}
#detail-produk .row .col .vertical-center {
    position: absolute;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
#detail-produk .col-4 .container {
    padding: 16px;
    margin: 16px 0;
    background-color: transparent;
    border-color: none;
}
#detail-produk .container::after {
    content: "";
    clear: both;
    display: table;
}
#detail-produk h2,
#detail-produk .container .text {
    font-size: 20px;
    margin-right: 15px;
}
#detail-produk .col-4 .image {
    float: left;
    margin-right: 10px;
    border-radius: 50%;
    width:60px;
}
#detail-produk .col-4 .text,
#detail-produk .col-4 .back,
#detail-produk .col-4 .info h3{
    font-size: 18px;
    font-weight: 600;
    margin-right: 15px;
}
#detail-produk .col-4 .title,
#detail-produk .col-4 h1,
#detail-produk .col-4 .back{
    color: #D93081;
}
#detail-produk .col-4 h2,
#detail-produk .col-4 h1{
    font-weight: 600;
    font-size: 24px;
}
#detail-produk .col-4 .info{
    margin-top: 20px;
}
#detail-produk .col-4 p,
#detail-produk .info p{
    font-size: 16px;
}
#detail-produk .col-4 .btn-primary{
    margin-top: 20px;
    background-color: #D93081;
    color: #fff;
    width: 100%;
    border-color: #D93081;
    border-radius: 20px;
}
#detail-produk .col-4 .btn-primary:hover{
    background-color: #fff;
    color: #D93081;
    border-color: #D93081;
}
#detail-produk .col-4 .testi{
    color: #D93081;
    font-size: 16px;
    font-weight: 600;
}
#detail-produk .col-4 .right{
    text-align: end;
}

@media (max-width: 500px) {
    #detail-produk .container {
        text-align: center;
    }
    #detail-produk .col-4 .image {
      margin: auto;
      float: none;
      display: block;
    }
}

// DAFTAR TRANSAKSI
#daftar-transaksi {
    margin-top: 2% !important;
    margin-bottom: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
}
#daftar-transaksi .card{
    padding: 30px;
}
#daftar-transaksi h1{
    font-weight: 600;
    color: #D93081;
}
#daftar-transaksi .btn{
    color: #ffffff;
    background-color: #D93081;
    margin: 20px 10px 20px 10px;
    border-color: #D93081;
}
#daftar-transaksi .btn:hover{
    color: #D93081;
    background-color: #ffffff;
    border-color: #D93081;
}

// DETAIL TRANSAKSI
#detail-transaksi {
    margin-bottom: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
}
#detail-transaksi .card{
    padding: 10px;
    margin: 10px;
}
#detail-transaksi h1{
    font-weight: 600;
    color: #D93081;
}
#detail-transaksi .col-3 .address{
    margin-top: 10px;
}
#detail-transaksi .col-3 .address h4,
#detail-transaksi .col-8 h4,
#detail-transaksi .col-8 thead th{
    font-weight: 600;
    font-size: 18px;
}
#detail-transaksi .col-8 .status-order{
    margin: 10px;
    padding: 20px;
}
#detail-transaksi .col-8 .status-order span{
    font-weight: 600;
    font-size: 18px;
    color: #D93081;
}
#detail-transaksi .col-3 .address p,
#detail-transaksi td{
    font-size: 16px;
}
#detail-transaksi .bukti-bayar button{
    background-color: #D93081;
    color: #fff;
    border-color: #D93081;
    margin-top: 20px;
    padding: 5px;
    width: 100px;
}

// Daftar Testimonial
#testimonial {
    margin-top: 2% !important;
    margin-bottom: 2%;
}
#testimonial h1{
    font-weight: 600;
    color: #D93081;
}
#testimonial .card{
    padding: 30px 20px 30px 20px;
    background-color: #fff;
    margin-top: 20px;
}
#testimonial .col-2 .image {
    border-radius: 50%;
    width:80px;
}
#testimonial .col-4 .text{
    font-size: 18px;
    font-weight: 600;
    margin-right: 15px;
}
#testimonial .col-4 .rating{
    padding-top: -20px;
}
#testimonial .col-6 p{
    font-size: 16px;
}
@media (min-width: 992px) {
    #testimonial .col-6 p{
        margin-left: -6rem !important;
    }
}

// CREATE TESTIMONIAL
#create-testi{
    h1{
        font-weight: 600;
        color: #D93081;
    }
    .col-6 {
        h2{
            font-size: 24px;
            font-weight: 600;
        }
        p{
            font-weight: 500;
            font-size: 20px;
        }
        .rating, 
        .testi input{
            margin-bottom: 20px;
        }
        form {
            label{
                font-size: 20px;
                font-weight: 500;
            }
            .testi input{
                width: 100%;
                background-color: #fff;
                height: 100px;
                border-color: #fff;
            }
            .rekom label{
                padding-left: 5px;
            }
            .btn-primary{
                border-color: #D93081;
                background: #D93081;
                color: white;
                text-align: center;
                font-weight: 500;
                width: 100px;
            }
            .btn-primary:hover{
                background-color: #fff;
                color: #D93081;
                border-color: #D93081;
            }
        }
        
    }
}

// CART
#cart {
    margin-bottom: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
}
#cart {
    .card{
        padding: 30px;
        margin: 10px;
    }
    h1{
        font-weight: 600;
        color: #D93081;
    }
    tbody td{
        margin-top: 10px;
    }
    .col-3 h3{
        font-weight: 600;
        font-size: 20px;
        color: #D93081;
    }
    .col-3 .summary{
        padding-top: 20px;
    }
    .col-3 .summary h4{
        font-size: 16px;
        font-weight: 600;
    }
    .btn-primary{
        border-color: #D93081;
        background: #D93081;
        color: white;
        text-align: center;
        font-weight: 500;
    }
    .btn-primary:hover{
        background-color: #fff;
        color: #D93081;
        border-color: #D93081;
    }
}

#basket {
    position: absolute;
    z-index: 100;
    top: 100px;
    right: 30px;
    width: 900px;
    // margin-top: 8px;
}

// page Home start
#carouselExampleInterval {
    margin-top: -4%;
}

#bestseller {
    margin-top: 5%;
    text-align: center;
    color: #D93081 ;
}

#home-best-seller .card .btn-primary{
    border-color: #D93081;
    background: #D93081;
    color: white;
    text-align: center;
    font-weight: 500;
}
#home-best-seller .card .btn-primary:hover{
    background-color: #fff;
    color: #D93081;
    border-color: #D93081;
}
#home-best-seller .card h5{
    color: #D93081;
    text-align: center;
    font-weight: 600;
    font-size: large;
}
#home-best-seller .card p{
    text-align: center;
    font-weight: 600;
}
#home-best-seller .card .center{
    text-align: center;
}

.container .center{
    text-align: center;
}

#home-view-all .btn-primary{
    border-color: #D93081;
    background: #D93081;
    color: white;
    text-align: center;
    font-weight: 500;
    width: 150px;
    margin-top: 32px;
    margin-bottom: 32px;
}

#home-view-all .btn-primary:hover{
    background-color: #fff;
    color: #D93081;
    border-color: #D93081;
}

#btn-login-regis .btn-primary {
    border-color: #D93081;
    background: #D93081;
    color: white;
    text-align: center;
    font-weight: 500;
    width: 100px;
}

#btn-login-regis .btn-primary:hover {
    background-color: #fff;
    color: #D93081;
    border-color: #D93081;
}

.btn-pink {
    border-color: #D93081;
    background: #D93081;
    color: white;
    text-align: center;
    font-weight: 500;
    // width: 100px;
}

.btn-putih {
    background-color: #fff;
    color: #D93081;
    border-color: #D93081;
}

//footer
#footer {
    background: #D93081;
    padding: 0 0 30px 0;
    color:black;
    font-size: 14px;
  }

  #footer .footer-top {
    background: #FFF4FD;
    border-top: 1px solid #D93081;
    border-bottom: 1px solid #D93081;
    padding: 60px 0 30px 0;
  }

  #footer .footer-top .footer-info {
    margin-bottom: 30px;
  }

  #footer .footer-top .footer-info h3 {
    font-size: 24px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 300;
    font-family: "Poppins", sans-serif;
  }

  #footer .footer-top .footer-info p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Playfair Display", serif;
    color: #0c0b09;
  }

  #footer .footer-top .social-links a button{
    font-size: 18px;
    display: inline-block;
    background: #D93081;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }

  #footer .footer-top .social-links a button:hover {
    background: #D93081;
    color: #0c0b09;
    text-decoration: none;
  }

  #footer .footer-top h4 {
    font-size: 16px;
    font-weight: 600;
    color: #0c0b09;
    position: relative;
    padding-bottom: 12px;
  }

  #footer .footer-top .footer-links {
    margin-bottom: 30px;
  }

  #footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  #footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #D93081;
    font-size: 18px;
    line-height: 1;
  }

  #footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
  }

  #footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
  }

  #footer .footer-top .footer-links ul a {
    color: #0c0b09;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
  }

  #footer .footer-top .footer-links ul a:hover {
    color: #D93081;
  }

  #footer .footer-top .footer-newsletter form {
    margin-top: 30px;
    background: #28251f;
    padding: 6px 10px;
    position: relative;
    border-radius: 50px;
    border: 1px solid #454035;
  }

//ADMIN TRANSAKSI
#admin-transaksi {
    margin-top: 50px;
    margin-bottom: 2%;
    padding-top: 1%;
    padding-bottom: 1%;

    .card{
        padding: 30px;
    }
    
    h1{
        font-weight: 600;
        color: #D93081;
    }

    #btn-detail-tran .btn-primary{
        background-color: #D93081;
        color: #fff;
        width: 150px;
        border-color: #D93081;
        border-radius: 20px;
        margin-bottom: 5px;
    }

    #btn-detail-tran .btn-primary:hover{
        background-color: #fff;
        color: #D93081;
        border-color: #D93081;
    }

    #btn-confirm-tran .btn-primary{
        background-color: #D93081;
        color: #fff;
        width: 150px;
        border-color: #D93081;
        border-radius: 20px;
    }

    #btn-confirm-tran .btn-primary:hover{
        background-color: #fff;
        color: #D93081;
        border-color: #D93081;
    }
}

//NOTIFICATION
#notification {
    #btn-notif .btn-primary{
        background-color: #D93081;
        color: #fff;
        width: 150px;
        border-color: #D93081;
        border-radius: 20px;
    }

    #btn-notif .btn-primary:hover{
        background-color: #fff;
        color: #D93081;
        border-color: #D93081;
    }

    #btn-notif .btn-secondary{
        background-color: #495057;
        color: #fff;
        width: 150px;
        border-color: #495057;
        border-radius: 20px;
    }

    #btn-notif .btn-secondary:hover{
        background-color: #fff;
        color: #495057;
        border-color: #495057;
    }
}

//NAVBAR ADMIN 
#navbar-admin { 
    .navbar{
        background:#6c757d;
    }

    #navbar-icon-admin a {
        color:#D93081;
    }
}

//PRODUCT ADMIN
#product-admin {
    h1{
        font-weight: 600;
        color: #D93081;
        margin-top: 8px;
    }
    #btn-product-admin .btn-primary{
        background-color: #D93081;
        color: #fff;
        border-color: #D93081;
        border-radius: 20px;
        margin-left: 4px;
    }

    #btn-product-admin .btn-primary:hover{
        background-color: #fff;
        color: #D93081;
        border-color: #D93081;
    }

    .text-center {
        margin-top: 32px;
    }
}    